doctype 5
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/css/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
    link(href='/css/beavtron.css', rel='stylesheet')
  body
    #top.navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          button.btn.btn-navbar(type='button', data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') #{title}
          ul.nav.pull-right
            if account
              li: a.profile(href='/profile') #{account.name}
              li: a(href='/signout')
                    img(src='http://connect.soundcloud.com/2/btn-disconnect-m.png')
            else
              li: a(href='/signin')
                img(src='http://connect.soundcloud.com/2/btn-connect-sc-m.png')


          .nav-collapse.collapse
            ul.nav
              // li

    
    .container
      .hero-unit
        block content

    script(src='http://code.jquery.com/jquery.js')
    script(src='/js/bootstrap.min.js')


