doctype 5
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/css/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
    link(href='/css/beavtron.css', rel='stylesheet')
  body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') #{title}
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.nav-bar-nav.navbar-right
            if account
              li: a.profile(href='/profile') #{account.full_name}
              li: a(href='/signout')
                    img(src='http://connect.soundcloud.com/2/btn-disconnect-m.png')
            else
              li: a(href='/signin')
                img(src='http://connect.soundcloud.com/2/btn-connect-sc-m.png')

    .jumbotron
      .container
        block content

    script(src='http://code.jquery.com/jquery-2.0.3.min.js')
    script(src='/js/bootstrap.min.js')


